/*style sheet*/

/*******************************************
css reset
*******************************************/

@charset "utf-8";


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	font-family: 'Didact Gothic', sans-serif;
}

h1, h2, h3, h4, h5, h6 {

	font-family: 'Didact Gothic', sans-serif;
	color: #c8c9ca;

}

p {

font-family: 'Didact Gothic', sans-serif;
color: #c8c9ca;

}

a {
'font-family: 'Barlow Condensed', sans-serif;
color: #c8c9ca;
}

ol, ul {
	list-style: none;
	font-family: 'Barlow Condensed', sans-serif;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* menu on desktop */

.main-menu {
    background-color:white;
    position:fixed;
    z-index: 999;
    width: 100%;
    height: 60px;
    padding: 10px;
    box-shadow: 0 2px 1px -1px gray;
}

.main-menu ul {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.mobile-social-media {
    display: none;
}
.menu-no-logo {
    width: 50%;
}


.menu-no-logo ul {
    justify-content: space-around;
    height: 100%;
}

.menu-no-logo ul li a {
    text-decoration: none;
    color: #205fad;
}

/* slider */

.slide-buttons {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 60%;
    z-index: 99;
    
}

.slide-buttons h2 {
    color: #205fad;
    font-size: 3em;
}

.slide-buttons .svg-inline--fa {
    font-size: 3em;
    padding: 0px 40px 0px 40px;
    color: #205fad;
    
}

.slide-buttons .svg-inline--fa:hover {
    background-color: #c8c9ca;
    cursor: pointer;
}

.slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.slider img {
    width: 100%;
    position: absolute;
    display: block;
    overflow: hidden;
}

/* quote */
.quote {
    margin: auto;
    width: 60%;
    
}

.quote h2 {
    font-family: 'Tangerine', cursive;
    font-size: 3em;
    color: #205fad;
    text-align: center;
    padding: 50px 0px 30px 0px;
    border-bottom: 1px solid #205fad;
}

/* home about */

.about {
    display: flex;
    width: 75%;
    margin:auto;
    padding-top: 40px;
    padding-bottom: 100px;
}

.about >* {
    margin: 20px;
    width: 100%;
}

.about >* h3 {
    font-size: 2.2em;
    padding-bottom: 20px;
}

/* gallery */

.gallery {
    width: 100%;
    background-color: #c8c9ca;
    padding-top: 50px;
    padding-bottom: 50px;
}

.gallery-image {
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 20% 20%;
    justify-content: space-around; 
   grid-row-gap: 50px;   
}

.gallery-image img {
    width: 100%;
}

/* call to action */

.call-to-action {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

.call-to-action a  {
    color: #205fad;
    text-decoration: none;
    font-size: 3em;
   
}

/* footer */

footer {
    background-color: #a1cde6;
    padding-bottom: 20px;
    padding-top: 10px;
    content:"";
    display: table;
    width: 100%;
    clear: both;
}

.footer-social-media {
    display: flex;
    float: right;
}

.footer-social-media a {
    color: #205fad;
}

.footer-social-media li {
    padding-right: 20px;
}

.footer-contact-info p {
    color: #205fad;
    text-align: center;
    padding-top: 20px;
}

.footer-contact-info .svg-inline--fa {
    color: #205fad;
}

